<div class="container mx-auto px-4 py-8">
  <h1 class="text-4xl font-bold text-gray-800 mb-4">Globex</h1>
  <p class="text-lg text-gray-700 mb-8">We manufacture widgets to the highest standards, for domestic and international use</p>


  <p class="text-lg text-gray-700 mb-8">In order to manufacture all of these high quality widgets, we require up to date documentation on the materials we use in manufacturing and customer's regulatory requirements. Globex uses Pitcher to stay up to date with all of the latest standards and specifications. <%= link_to "Pitcher", "https://yzwk9.hatchboxapp.com/", class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %></p>
  <%= link_to "Link to Documents", documents_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
</div>